.body {
  text-align: center;
  font-size: 16px;
  background-color: white;
}

.title{
  color: black;
  font-size: 36px;
  font-family: "Arial Black";
  margin: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  // position: relative;
  // background: linear-gradient(180deg, black 0 60%, white 60%);
  // -webkit-background-clip: text;
  // color: transparent;

}

.title::before, .title:after {
  border-top: 1px solid;
  content: "";
  width: 5em;
}

.title:before {
  margin-right: 1em;

//   position: absolute;
//   left: 10%;
//   bottom: 0px;
//   width: 80%;
//   height: 40%;
//   background-color: black;
//   z-index: -1;
//   content: '';
}
.title:after {
  margin-left: 1em;
}

.textGroup{
  display: flex;
  justify-content: center;
  list-style: none;
}

.text{
  color: black;
  font-size: 24px;
  font-family: "Comic Sans MS";
  font-weight: bold;
  text-align: left;
  padding: 0 5rem 1rem 0;

  p{
    padding-bottom: 1rem;
  }
}